<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Jam</title>
</head>

<body>
    <div ng-app="app">
      <div ng-controller="event as event">
      <!--SoundCloud Player-->
      <div class="row">
            <div class="col-sm-6">
                <iframe id="sc-widget" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/298984780&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              <hr>
              <input type="text" placeholder="Enter playlist URL here" ng-model="event.URL">
              <button type="button" ng-click=event.changePlaylist()>Change Playlist!</button>
            </div>
            <div class="col-sm-6">
                <h1>{{event.artist}}</h1>
                <button type="button" name="button" ng-click="event.widget.prev()"> Previous</button>
                <button type="button" name="button" ng-click="event.widget.play()"> PLAY TEST</button>
                <button type="button" name="button" ng-click="event.widget.next()"> Next</button>
                <button type="button" name="button" ng-click="scCtrl.widget.getInfo()"> Get Info</button>
              </div>
</div>
            <!--<button ng-click="event.callEventApi()">test me</button>-->
            <div ng-repeat="event in event.eventData.events.event">
              <!--get info for each event-->
                <div class="col-md-3">
                    <div class="panel panel-info top-buffer">
                        <div class="panel-heading">Event Information</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td>
                                            <h3>{{event.title}}</h3></td>
                                    </tr>

                                </table>
                                <table>
                                    <tr>
                                        <th><h5>Location</h5></th>

                                    </tr>
                                    <tr>
                                        <td>{{event.city_name}}</td>
                                        <td>{{event.region_abbr}}</td>
                                        <td>{{event.country_name}}</td>
                                    </tr>
                                    <tr>
                                        <th><h5>Venue</h5></th>
                                        <th><h5>Start Time</h5></th>
                                    </tr>
                                    <tr>
                                        <td>{{event.venue_name}}</td>
                                        <td>{{event.start_time}}</td>

                                    </tr>
                                </table>
                                <!--Sends user to external page-->
                                <button type="button" class="btn btn-info"><a href={{event.url}} target="_blank">More Info</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="angular.min.js"></script>
            <script src="app/app.module.js"></script>
            <script src="app/event/event.controller.js"></script>
            <link rel="stylesheet" type="text/css" href="bower_components/angular-toastr/dist/angular-toastr.css" />
            <script type="text/javascript" src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</body>

</html>
